@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
    --BalooBhai: "Baloo Bhai 2", sans-serif;
}

html {
    background-image: linear-gradient(to bottom, #60dffb, #00333f);
}

header {
    display: flex;
    background-color: #04657B;
    height: 130px;
    width: 100vw;
    max-width: 100%;
    justify-content: space-around;
    border-bottom: 13px solid #F58718;

}

#logo {
    display: flex;
}

#logo-imagem {
    height: 74px;
    margin: auto;
}

#logo p {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    height: 74px;
    margin: auto;
    margin-left: 20px;
    padding-left: 7px;
    border-left: 2px solid white;
}

#menu {
    display: flex;
}

#menu > ul {
    display: flex;
    list-style-type: none;
}

#menu li {
    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: bold;
    margin: auto 10px;
    font-size: 18px;
}

#menu li > a{
    color: white;
    width: 122px;
    padding: 20px;
    text-decoration: none;
}

#menu a:hover{
    background-color: #8ea4a87d;
    border-radius: 18px;
    transition: 0.3s;
}

main {
    display: flex;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#quem_somos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 1450px;
    max-width: 100%;
    height: 730px;
    background:url('../imagens/onda-pre-historica-capa222.jpg') no-repeat ;
    background-size: cover;
    object-fit: cover;
}

#quem_somos_texto {
    background-color: #25BCDE;
    margin-top: 30px;
    margin-left: 20px;
    width: 630px;
    height: 520px;
    border-radius: 0px 10px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.372);
}

#quem_somos_texto_titulo {
    display: flex;
    align-items: center;
    background-color: white;
    width: 370px;
    margin: 10px 0px 0px 22px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: #F58718 8px 8px;
}

#quem_somos_texto_icone_grupo{
    width: 24px;
    padding: 10px 13px 10px 10px;
}

#quem_somos_texto_titulo h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}

#quem_somos_texto p {
    margin-left: 22px;
    margin-top: 29px;
    font-family: "Montserrat", sans-serif;
    color: #191717;
    font-weight: 500;
    font-size: 1.3em;
    margin-right: 22px;
}

#quem_somos_versiculo {
    background-color: #F2E4DF;
    width: 260px;
    margin-left: 1.6em;
    padding: 7px 18px 8px 18px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.372);
}

#quem_somos_versiculo h2{
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#quem_somos_versiculo p{
    font-family: "Baloo Bhai 2", sans-serif;
    line-height: 1.2;
    font-size: 1.1em;
    margin: 4px 0px 4px 6px;
}

#objetivos {
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    width: 100vw;
    max-width: 100%;
    height: 730px;
    background-color: #04738C;
    background-image: url(../imagens/bg_onda_objetivos_730px.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#objetivos_titulo {
    display: block;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
}

#objetivos_titulo_titulo  {
    display: flex;
    align-items: center;
    background-color: white;
    width: 400px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: #F58718 8px 8px;
}

#objetivos_titulo_titulo h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2.6em;
}

#objetivos_titulo_titulo img{
    align-items: end;
    justify-content: flex-end;
    width: 37px;
    padding: 10px 13px 10px 10px;
    
}

#objetivos_titulo_imagem {
    width: 500px;
    margin-top: 130px;
    border-radius: 15px;
    box-shadow: 20px -20px 0px #DCBAA1;
    /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.388); */
}

#objetivos p {
    background-color: #D9FAFF;
    font-family: var(--Montserrat);
    font-weight: 600;
    font-size: 1.7em;
    padding: 15px;
    line-height: 1.5em;
    width: 4790px;
    height: 530px;
    border-radius: 12px;
}